body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
}

#app-container {
    /* アプリ全体を囲むコンテナ */
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../Picture/麻雀マット.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.tile {
    width: 10%;
    height: 14%;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.discarded-tile {
    width: 100%;
    height: 100%;
}

.player-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-hand {
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
}

.player-discarded {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    width: 18%;

    /* 各プレイヤーの捨て牌エリアの位置を調整 */
    &#bottom-discarded {
        top: 35%;
        left: 31%;
    }

    &#left-discarded {
        top: -60%;
        left: 32%;
    }

    &#right-discarded {
        top: -60%;
        right: 52%;
    }

    &#top-discarded {
        top: 35%;
        left: 31%;
    }
}

/* プレイヤーの位置指定 */
#bottom-player {
    position: absolute;
    left: 60%;
    bottom: 1%;
    transform: translateX(-50%);
    width: 100%;
    padding-top: calc(46% * (9 / 16));
}

#left-player {
    position: absolute;
    left: -80%;
    top: 143%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: bottom right;
    width: 100%;
    padding-top: calc(13% * (9 / 16));
}

#right-player {
    position: absolute;
    right: -80%;
    top: 108%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: bottom left;
    width: 100%;
    padding-top: calc(13% * (9 / 16));
}

#top-player {
    position: absolute;
    top: -55%;
    left: 40%;
    transform: translateX(-50%) rotate(180deg);
    transform-origin: bottom center;
    width: 100%;
    padding-top: calc(46% * (9 / 16));
}

.tile.manzu {
    color: red;
}

.tile.pinzu {
    color: blue;
}

.tile.sozu {
    color: green;
}

/* ツモボタンのスタイル */
#bottom-tsumo-button,
#left-tsumo-button,
#right-tsumo-button,
#top-tsumo-button {
    background-image: url('../Picture/ツモ.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    width: 10%;
    height: 10%;
}

/* ロンボタンのスタイル */
#bottom-ron-button,
#left-ron-button,
#right-ron-button,
#top-ron-button {
    background-image: url('../Picture/ロン.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    width: 10%;
    height: 10%;
}

/* カンボタンのスタイル */
#bottom-kan-button,
#left-kan-button,
#right-kan-button,
#top-kan-button {
    background-image: url('../Picture/カン.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    width: 10%;
    height: 10%;
}

#bottom-ron-button,
#bottom-tsumo-button,
#bottom-kan-button {
    position: absolute;
    top: 78%;
    left: 65%;
}

#left-ron-button,
#left-tsumo-button,
#left-kan-button {
    position: absolute;
    top: 79%;
    left: 19.5%;
}

#right-ron-button,
#right-tsumo-button,
#right-kan-button {
    position: absolute;
    top: 12%;
    left: 70.5%;
}

#top-ron-button,
#top-tsumo-button,
#top-kan-button {
    position: absolute;
    top: 12%;
    left: 26%;
}

/* スキップボタンのスタイル */
#bottom-skip-button,
#left-skip-button,
#right-skip-button,
#top-skip-button {
    background-image: url('../Picture/スキップ.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    width: 10%;
    height: 10%;
}

#bottom-skip-button {
    position: absolute;
    top: 91%;
    left: 64.5%;
}

#left-skip-button {
    position: absolute;
    top: 78%;
    left: 12%;
}

#right-skip-button {
    position: absolute;
    top: 13%;
    left: 78%;
}

#top-skip-button {
    position: absolute;
    top: -0.5%;
    left: 26.5%;
}

/* ポンボタンのスタイル */
#bottom-pon-button,
#left-pon-button,
#right-pon-button,
#top-pon-button {
    background-image: url('../Picture/ポン.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    width: 10%;
    height: 10%;
}

#bottom-pon-button {
    position: absolute;
    top: 0%;
    left: 0%;
}

#left-pon-button {
    position: absolute;
    top: 78%;
    left: 12%;
}

#right-pon-button {
    position: absolute;
    top: 0%;
    left: 0%;
}

#top-pon-button {
    position: absolute;
    top: 0%;
    left: 0%;
}

/* 左側プレイヤーのボタン回転 */
#left-tsumo-button,
#left-ron-button,
#left-kan-button,
#left-skip-button,
#left-pon-button {
    transform: rotate(90deg);
}

/* 右側プレイヤーのボタンは回転 */
#right-tsumo-button,
#right-ron-button,
#right-kan-button,
#right-skip-button,
#right-pon-button {
    transform: rotate(-90deg);
}

/* 上側プレイヤーのボタンは回転 */
#top-tsumo-button,
#top-ron-button,
#top-kan-button,
#top-skip-button,
#top-pon-button {
    transform: rotate(180deg);
}

/* ゲーム情報エリアのスタイル */
#game-info-image {
    position: absolute;
    top: 35.2%;
    left: 42%;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    display: block;
    width: 16.5%;
    height: auto;
}

/* ゲーム情報エリアのスタイル */
#round-image {
    position: absolute;
    top: 44%;
    left: 46.7%;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    display: block;
    width: 6.8%;
    height: auto;
}

/* 残り牌数の画像を中央に配置 */
#remaining-tiles-images {
    position: absolute;
    top: 51.4%;
    left: 2.4%;
}

/* 各桁の画像のサイズを調整 */
#remaining-tiles-hundreds,
#remaining-tiles-tens,
#remaining-tiles-ones {
    width: 1.1%;
    height: auto;
}

/* ツモ牌の左側に隙間を追加 */
.player-hand .tile.tsumo-tile {
    margin-left: 10px;
}

/* ミュートボタンのスタイル */
#mute-button {
    position: absolute;
    top: 91%;
    left: 91%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    width: 10%;
    height: 10%;
}

#mute-button img {
    width: 70%;
    height: 80%;
}